find:
  block:
  - "*dutch*"
  - "*french*"
  exceptions:
  - /movies/French Connection*
  paths:
  - /movies
  - /tvshows

match:
  sources:
   jellyfin:
    database: /path/to/jellyfin/library.db
    exceptions:
    - /movies/Ignore Me (1999)
    paths:
      movies:
      - /path/to/jellyfin/movies
      tvshows:
      - /path/to/jellyfin/tvshows
    plex:
      database: /path/to/plex/com.plexapp.plugins.library.db
      exceptions:
      - /movies/Ignore Me (1999)
      paths:
        movies:
        - /path/to/plex/movies
        tvshows:
        - /path/to/plex/tvshows
      sections:
        movies:
        - 1
        tvshows:
        - 2
    radarr:
      apikey: 00000000000000000000000000000000
      paths:
      - /path/to/radarr/movies
      server: https://localhost:7878
    sonarr:
      apikey: 00000000000000000000000000000000
      paths:
      - /path/to/sonarr/tvshows
      server: https://localhost:8989

notify:
  urls:
    - pushover://shoutrrr:appkey@userkey/
